.results{
    background: #fff;
    padding: 40px;
    border-radius: 1px;
    border: 1px solid #e7e7e7;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 0px;
    position: relative;
    top: 20px;
}