.loginForm {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #e7e7e7;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 30px;
}

.inline-link {
  margin-left: 10px;
  font-weight: bold;
}

.form-group {
  margin: 0;
  padding: 5px;
}

.form-group label {
  font-size: 14px;
  color: #7b7b7b;
  margin-bottom: 5px;
}

#genderLabel {
  margin-right: 10px;
}

.form-wrap {
  padding: 20px;
  background: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.form-wrap h2 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 26px;
}

.form-control {
  background: #edf5f1;
  border: 1px solid #c2ded1;
}

.form-control:disabled,
.form-control[readonly] {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #7b7b7b;
}

#studentRegister {
  background: #f8f8f8
    url(https://res.cloudinary.com/dhdg4uhps/image/upload/v1631603518/pexels-olia-danilevich-5088017_mvzdvf.jpg)
    no-repeat center center fixed;
  background-size: cover;
}

#studentLogin {
  background: #f8f8f8
    url(https://res.cloudinary.com/dhdg4uhps/image/upload/v1631603729/pexels-august-de-richelieu-4260485_pdorm9.jpg)
    no-repeat center top fixed;
  background-size: cover;
}
